body {
    font-family: 'Roboto', sans-serif;
    
    
}
input[type="radio"] {
    display: none;
}
label, label img {
    cursor: pointer;
}

input[type="radio"]:checked + img {
    border: 2px solid blue;
}
